# Home Assistant
homeassistant>=2026.3.0

# Integration
rivian-python-client[ble] @ git+https://github.com/magic7s/rivian-python-client@17c893180ff87757a813d1b0cd5d5126bc5bde69

# Development
colorlog
pip>=21.0
pre-commit
ruff>=0.16.2
